

Frame {
     border: 1px solid rgb(159, 159, 159);
     border-radius: 1px;
}


Frame:focus {
     border: 1px solid red;
     border-radius: 1px;
}


QProgressBar {
    border: 1px solid rgb(159, 159, 159);
    border-radius: 1px;
}

QProgressBar::chunk {
    background-color: rgb(124, 159, 171);
    /*width: 20px;*/
}


QStatusBar {
     background: rgb(13, 13, 13);
}

QStatusBar::item {
    border: 1px solid rgb(159, 159, 159);
    border-radius: 1px;
}


QSplitter::handle:horizontal {
     width: 2px;
     background: rgb(111, 111, 111);
}

QSplitter::handle:vertical {
    height: 2px;
    background: rgb(111, 111, 111);
}

QComboBox {
    border: 1px solid rgb(159, 159, 159);
    border-radius: 1px;
    padding: 1px 18px 1px 3px;
}

QComboBox:editable {
    background: white;
}

QComboBox:!editable, QComboBox::drop-down:editable {
    /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    */
    background: rgb(111, 111, 111);
}

QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    /*
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
                                stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
    */
    background: rgb(111, 111, 111);
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    image : url(./skins/basic/images/down.png);
    width : 10px;
    height: 10px;
}

QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}

QCheckBox {
    spacing: 5px;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
}


QTableWidget {
     background: rgb(13, 13, 13);;
     border: 1px outset rgb(159, 159, 159);
 }

QTableWidget::item:selected {
     background: rgb(13, 13, 13);
     border: 1px solid rgb(159, 159, 159);
 }
/*
QWidget#ColorWheel {
	background-color : rgb(13, 13, 13); 
}
*/

QMenuBar {
	background-color: rgb(13, 13, 13);
	color : rgb(159, 159, 159); 
    border: 1px solid rgb(159, 159, 159);
}

QMenuBar::item {
    spacing: 5px; /* spacing between menu bar items */
    padding: 4px 10px;
    background: transparent;
    border-radius: 3px;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #a8a8a8;
}

QMenuBar::item:pressed {
    background: #888888;
}

QMenu {
    background-color: rgb(13, 13, 13); /* sets background of the menu */
    border: 1px solid rgb(159, 159, 159);
}

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
         if you want menu color and menu item color to be different */
	background-color: transparent;
	color : rgb(159, 159, 159);
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: #654321;
}


QPushButton {
    color: rgb(159, 159, 159);
    border: 1px solid rgb(159, 159, 159); 
    border-radius: 2px;
    background-color: rgb(13, 13, 13); 
    /* min-width: 20px; */
}

QPushButton:pressed {
    background-color: rgb(60, 60, 60); 
}

QPushButton:flat {
    border: none;
}

QPushButton:default {
    border-color: rgb(159, 159, 159);
}


QGroupBox {
    border: 1px solid rgb(159, 159, 159);
    border-radius: 1px;
}

QGroupBox::title {
    subcontrol-position: top center; 
    padding: 4px;
    padding-top: -5px;
    color : rgb(159, 159, 159);
}

    

QLabel {
	color : rgb(159, 159, 159);
}
QCheckBox {
	color : rgb(159, 159, 159);
}

QSpacer,
QWidget#ConfigWindow,
QWidget#NewWindow, 
QMainWindow, 
QAbstractItemView,  
QTreeView::branch, 
QTabBar::tab{
	color: #EAEAEA;
	background: rgb(13, 13, 13); 
	font-size: 9pt;
}

QAbstractItemView::item:selected {
	color: #EAEAEA;
	background-color: #151515;
}

QScrollBar {
     border: none;
     background: #494949;
     height: 6px;
     width: 6px;
     margin: 0px;
}

QScrollBar::handle{
     background: #DBDBDB;
     min-width: 20px;
     min-height: 20px;
}

QScrollBar::add-line,  QScrollBar::sub-line {
     background: none;
     border: none;
}

QScrollBar::add-page, QScrollBar::sub-page {
     background: none;
}

QTreeView::branch:closed:adjoins-item:has-children {
     background:  solid #777777;
     margin: 6px;
     height: 6px;
     width: 6px;
     border-radius: 3px;
}

QTabBar::tab:selected {
     font: bold;
     border-color: #9B9B9B;
     border-bottom-color: #C2C7CB; 
 }

QTabBar::tab:!selected {
     margin-top: 2px;
 }

QWidget#LayerTreeWidget,
QWidget#ToolsItem, 
QWidget#ToolsGridWidget {
    background-color: rgb(13, 13, 13); 
}

QHeaderView::section {
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 #616161, stop: 0.5 #505050,
                                       stop: 0.6 #434343, stop:1 #656565);
     color: rgb(159, 159, 159);
     padding-left: 4px;
     border: 1px solid #6c6c6c;
}

QToolBar {
     border-style: solid;
     border-style: outset;
     color: rgb(159, 159, 159);
     background: rgb(13, 13, 13); 
     font-size: 9pt;
}

QPushButton:open { /* when the button has its menu open */
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #dadbde, stop: 1 #f6f7fa);
}

QPushButton::menu-indicator {
    image: url(menu_indicator.png);
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
}

QPushButton::menu-indicator:pressed, QPushButton::menu-indicator:open {
    position: relative;
    top: 2px; left: 2px; /* shift the arrow by 2 px */
}
